flask
flask_sqlalchemy
duckduckgo_search==5.3.1b1
einops
groq
langchain
langchain-community
langchain-groq
nest_asyncio
nvidia-cublas-cu11
nvidia-cudnn-cu11
onnxruntime-gpu
piper-tts
secure-smtplib
transformers
unstructured
tokenizers
torch
datasets
tensorflow
playwright
html2text
sentence_transformers
faiss-cpu
