<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat - ChatScraping</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
</head>
<body>
<h1>ChatScraping</h1>
<a href="{{ url_for('upload') }}" class="btn btn-link">Search in web</a>
<a href="{{ url_for('render_URLs') }}" class="btn btn-link">Manage web data</a>
<a href="{{ url_for('render_chat') }}" class="btn btn-link">Chat with scraped data</a>
<div class="container mt-4">
    <h2>Ask questions:</h2>
    <form method="POST">
        <div class="row">
            <div class="col">
			    <div style="block: inline">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="retrieval_only" name="retrieval_only">
                        <label class="form-check-label" for="retrieval_only" title="Use only document retrieval, without chat with LLM.">Use documents only</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="llm_only" name="llm_only">
                        <label class="form-check-label" for="llm_only">Use LLM only</label>
                    </div>
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="text_only" name="text_only">
                    <label class="form-check-label" for="text_only">Output text only</label>
                </div>
                <div>
                    <p title="Choose one of the two services soported by this application.">Choose the LLM service:</p>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="use_ollama" name="use_ollama">
                        <label class="form-check-label" for="use_ollama">Use Ollama</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="use_groq" name="use_groq">
                        <label class="form-check-label" for="use_groq">Use Groq</label>
                    </div>
                </div>
			</div>
            <div class="col form-group">
                <label for="groq_llm">Databases:</label>
                <select class="form-control" id="databases" name="databases">
                    {% for db in databases %}
                    <option value="{{ db }}">{{ db }}</option>
                    {% endfor %}
                </select>
                <label for="num_docs">Number of Documents:</label>
                <input type="number" class="form-control" id="num_docs" name="num_docs" value="4" style="width: 50%;">
            </div>
            <div class="col form-group">
                <label for="ollama_llm">Ollama LLM:</label>
                <select class="form-control" id="ollama_llm" name="ollama_llm">
                    {% for llm in ollama_llms %}
                    <option value="{{ llm }}">{{ llm }}</option>
                    {% endfor %}
                </select>
                <label for="groq_llm">Groq LLM:</label>
                <select class="form-control" id="groq_llm" name="groq_llm">
                    {% for llm in groq_llms %}
                    <option value="{{ llm }}">{{ llm }}</option>
                    {% endfor %}
                </select>
                <label for="groq_llm">Voices:</label>
                <select class="form-control" id="voices" name="voices">
                    {% for voice in voices %}
                    <option value="{{ voice }}">{{ voice }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="row">
            <label for="instruction">Instruction:</label>
            <input type="text" class="form-control" id="instruction" name="instruction" placeholder="Enter your instruction">
        </div>
		<input type="hidden" id="conversation_id" name="conversation_id" value="{{ conversation_id }}">
        <div class="container mt-5 overflow-auto" id="conversation" style="max-height: 600px;">
        </div>
        <div class="row align-items-center">
            <div class="col">
                <label for="question" class="form-label" style="font-size: 1.35rem;">User:</label>
            </div>
            <div class="col-10" style="position: relative;">
                <input type="text" class="form-control" id="question" name="question" placeholder="Enter your question" onkeydown="handleKeyDown(event)">
                <button id="microphone-btn" type="button" class="btn btn-secondary" style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%)"; onclick="toggleRecording()">
                    <i class="bi bi-mic-fill"></i>
                </button>
            </div>
            <div class="col">
                <button id="send-btn" type="submit" class="btn btn-primary" disabled>Send</button>
            </div>
        </div>
    </form>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
function addConversationElement(question, answer, text_only) {
  const conversationDiv = document.getElementById('conversation');
  const questionDiv = document.createElement('div');
  questionDiv.className = 'mb-4';
  questionDiv.innerHTML = `User: "${question}"`;

  const answerDiv = document.createElement('div');
  answerDiv.className = 'alert alert-secondary';
  answerDiv.role = 'alert';

  if (text_only) {
    const p = document.createElement('p');
    p.textContent = answer;
    answerDiv.appendChild(p)
    var audioElement = document.createElement('audio');
    audioElement.setAttribute('controls', '');
    var timestamp = new Date().getTime();
    audioElement.setAttribute('src', 'static/answer.webm?timestamp=' + timestamp);
    answerDiv.appendChild(audioElement);
	audioElement.addEventListener('loadedmetadata', function() {
		audioElement.play();
	});
  } else {
    const pre = document.createElement('pre');
    pre.textContent = answer;
    answerDiv.appendChild(pre);
  }

  conversationDiv.appendChild(questionDiv);
  conversationDiv.appendChild(answerDiv);
}
$(document).ready(function(){
    $('#retrieval_only').change(function() {
        if(this.checked) {
            $('#llm_only').prop('checked', false);
        }
    });
    $('#llm_only').change(function() {
        if(this.checked) {
            $('#retrieval_only').prop('checked', false);
        }
    });
	$('#text_only').prop('checked', true);
	$('#use_groq').prop('checked', true);
    $('#use_ollama').change(function() {
        if (this.checked) {
            $('#use_groq').prop('checked', false);
        } else {$('#use_ollama').prop('checked', true); alert("Must be activated either Ollama or Groq.");}
    });
    $('#use_groq').change(function() {
        if (this.checked) {
            $('#use_ollama').prop('checked', false);
        } else {$('#use_groq').prop('checked', true); alert("Must be activated either Ollama or Groq.");}
    });
    $("#question").focus();
    $('#question').change(function() {
        if($('#question').val() === "") {
            document.querySelector("#send-btn").setAttribute("disabled", true);
        } else {
            document.querySelector("#send-btn").removeAttribute("disabled");
        }
    });
    $("#instruction").focus(function() {
        $('#instruction').select();
    });
    $("form").submit(function(event){
        event.preventDefault();
        var llm = $('#ollama_llm').val();
        if ($('#use_groq').is(':checked')) {
            llm = $('#groq_llm').val();
        }
        var formData = {
            'question': $('input[name=question]').val(),
			'retrieval_only': $('input[name=retrieval_only]').is(':checked'),
			'llm_only': $('input[name=llm_only]').is(':checked'),
			'text_only': $('input[name=text_only]').is(':checked'),
			'use_groq': $('input[name=use_groq]').is(':checked'),
			'num_docs': $('input[name=num_docs]').val(),
			'db': $('#databases').val(),
			'llm': llm,
			'instruction': $('input[name=instruction]').val(),
			'conversation_id': $('#conversation_id').val(),
			'voice': $('#voices').val()
        };
        $.ajax({
            type: "POST",
            url: "/chat",
            data: formData,
            dataType: "json",
            encode: true,
        }).done(function(data){
            addConversationElement(data.question,data.answer,data.text_only);
			$("#conversation").scrollTop($("#conversation")[0].scrollHeight);
			$("#question").val(""); $("#question").focus();
        });
    });
});
let mediaRecorder;
let audioChunks = [];
function toggleRecording() {
    if (!mediaRecorder || mediaRecorder.state === 'inactive') {
        startRecording();
    } else {
        stopRecording();
    }
}
function startRecording() {
	navigator.mediaDevices.getUserMedia({ audio: true })
		.then(stream => {
			mediaRecorder = new MediaRecorder(stream);
			mediaRecorder.start();
			mediaRecorder.addEventListener("dataavailable", event => {
				audioChunks.push(event.data);
				console.log("startRecording: audioChunks.length: " + audioChunks.length);
			});
			mediaRecorder.addEventListener("stop", () => {
				const audioBlob = new Blob(audioChunks, { type: 'audio/webm' });
				const formData = new FormData();
				formData.append("audio", audioBlob);

				fetch("/upload_and_process_question_audio", { method: "POST", body: formData })
					.then(response => response.text())
					.then(data => {
						document.querySelector("#question").value = data;
						audioChunks = [];
					});
			});
			document.querySelector("#question").setAttribute("placeholder", "RECORDING AUDIO...");
			document.querySelector("#microphone-btn").classList.add("active");
            document.querySelector("#send-btn").setAttribute("disabled", true);
		});
}
function stopRecording() {
	mediaRecorder.stop();
    document.querySelector("#microphone-btn").classList.remove("active");
    document.querySelector("#send-btn").removeAttribute("disabled");
	document.querySelector("#question").setAttribute("placeholder", "Enter your question");
}
function handleKeyDown(event) {
    const questionInput = document.getElementById("question");
    if (event.code === "Space" && questionInput.value.trim() === "") {
        event.preventDefault();
        toggleRecording();
    }
}
</script>
</body>
</html>
